@use '_variables' as *
@use '_mixins' as *

// Textes

p, h1, h4, h6
    font-family: DM Sans
    color : $blanc !important

p
    font-size: 24px !important
    line-height: 1.6 !important
.p-card
    font-size: 22px !important
    color : $lightgrey !important


h2
    font-family: Playfair Display
    font-size: 50px !important
    color : $yellowish !important
    text-transform: capitalize


h3
    font-family: Playfair Display
    color : $blanc !important
    font-size: 32px !important
    font-weight: bold !important

h6
    color : $lightgrey !important
    text-transform: uppercase
    font-size: 20px !important
    font-weight: bold !important
    letter-spacing: 2.2px !important

nav
    a
        font-family: DM Sans
        font-size: 22px !important
        color : $blanc !important

.nav-title
    text-transform: uppercase
    font-size: 40px !important
    letter-spacing: 2px

.a-y
    transition: 0.2s all
    &:hover
        color : $yellowish !important

// Boutons

.btn1
    @include btn1

// Autres

html
    margin: 0
    padding: 0
    body
        margin: 0
        padding: 0