@use '_variables' as *
@use '_mixins' as *

p
    font-family: DM Sans
    color : $text-white 

nav
    a
        font-family: DM Sans
        font-size: 20px
        color : $text-white !important

.btn1
    @include btn1

.nav-title
    text-transform: uppercase
    font-size: 40px !important