@use '_variables' as *
@use '_mixins' as *

p
    font-family: DM Sans
    color : $text-white 

nav
    a
        font-family: DM Sans
        font-size: 16px
        color : $text-white !important
    h1
        font-family: DM Sans
        text-transform: uppercase
        font-size: 24px

.btn1
    @include btn1