@use '_bases' as *
@use '_variables' as *
@use '_mixins' as *

// Section 1

.section-1
    @include padding-sect
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/about-bg.jpg') !important
    img
        width: 40vw !important
        border: $border-img 6px solid

// créer l'effet de style sur l'image avec un before et un after, qu'on intègre dans la div contenant l'image (div-img)

.div-img
    position: relative
.div-img::before
    content: ""
    height: 85px
    width: 85px
    position: absolute
    display: block
    border-top: 7.5px solid $yellowish
    border-left: 7.5px solid $yellowish
    left: 25px
    top: 25px
.div-img::after
    content: ""
    height: 85px
    width: 85px
    position: absolute
    display: block
    border-bottom: 7.5px solid $yellowish
    border-right: 7.5px solid $yellowish
    right: 25px
    bottom: 25px

.sect1-txts
    width: 47vw !important