@use '_bases' as *
@use '_variables' as *
@use '_mixins' as *

footer
    background-color: $bg-1
    @include padding-foot
    border-top: $contour 1px solid
    border-bottom: $contour 1px solid
    p
        &:first-of-type
            font-size: 32px !important
        &:nth-of-type(2), &:nth-of-type(3)
            font-family: Playfair Display 
            font-size: 21px 
    i
        color: $blanc
        font-size: 22px
        background-color: $bg-icons
        padding: 15px
        border-radius: 50%
    .fa-facebook-f
        padding-left: 19px
        padding-right: 19px
    
    .fa-linkedin-in, .fa-instagram, .fa-skype
        padding-left: 18px
        padding-right: 18px

.links
    .foot-li
        color: $blanc
        font-size: 20px
        text-transform: capitalize
        font-family: DM Sans
        b
            color: $yellowish
            font-size: 1.4rem
    ul
        list-style: none
        p
            font-family: Playfair Display
            font-size: 26px !important

#p-news, #footer-titre
    font-family: Playfair Display
    font-size: 26px !important

#p-news2
    font-family: DM Sans !important

#subscribe
    background-color: $bg-icons
    border: $contour 1px solid
    height: 61px
    width: 320px

.div-news
    position: relative
    &::after
        content: "Subscribe"
        @include btn1
        background-color: $yellowish !important
        text-transform: capitalize !important
        width: 160px
        height: 60px
        position: absolute
        bottom: 1px
        right: 74px
        display: flex
        justify-content: center
        align-items: center
        font-size: 24px !important

// COPYRIGHT

.section-copy
    background: $bg-copy
    padding-top: 50px
    padding-bottom: 50px
    
