@use '_variables' as *
.section-navhead
    background: linear-gradient(0deg, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.9)), url('../assets/img/hero-bg.jpg') !important
    background-position: bottom
    background-size: contain

nav
    background: linear-gradient(0deg, rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5))

.container-fluid
    display: flex !important
    justify-content: space-around !important

.collapse
    display: flex !important
    justify-content: center !important