@media (max-width:992px)
    nav
        .btn1
            display: none !important
    .collapse, .navbar-collapse
        text-align: right
    // pour que le menu apparaissent sur la droite quand on clique sur le hamburger icon

    header
        flex-direction: column
        .play
            border: green 2px solid
        .header-texts
            border: pink 2px solid
    